<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <img
                src="https://cdn1.iconfinder.com/data/icons/internet-and-security-glyph-1/64/internet-and-security-glyph-1-15-512.png"
                width="500px" style="margin-left : 9%; margin-top: 10%;" />

              <div>
                <p style="text-align: center; padding-left : 0%; margin-top: 3%; font-size: 25px; color: #1d1c56;"
                  class="text-danger">
                  You are not eligible to access this role </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>