<footer class="footer">
  <div class="container-fluid">
    <!-- <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          
            <p (click)="MYtest()">About Us</p>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav> -->
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed & Coded by
      <a style="color: rgb(12, 118, 224);" href="http://www.kaafmedia.net/" target="_blank">Kaaf Media</a>.
      <!-- <a style="color: rgb(12, 118, 224);" href="#" target="_blank">Skyline Programmers</a>. -->
    </div>
  </div>
</footer>