.BoldLabel {
  font-weight: bold;
}

.classH2 {
  background-color: #1d1c56;
  padding: 10px;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}
